.section-about {
  background-color: $color-light-gray-1;
  margin-top: -20vh;
  padding: 25rem 0;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  // select the direct children of this element
  & > * {
    transform: skewY(7deg); // skew it back to its original state
  }
}

.section-tours {
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
  background-color: $color-light-gray-1;
}
